.dialog-backplate {
    background:rgba(0,0,0,0.5); position:fixed; top:0; right:0; bottom:0; left:0; z-index:10;
}
.dialog-root {
    background:#fff; border:1px solid #ccc; padding:20px; position:fixed; z-index:20;
    box-shadow:0 0 12px rgba(0,0,0,0.5); top:120px; left:calc(50vw - 225px); width:450px;
}

.dialog-heading {
    display:grid; grid-template-columns:1fr auto; margin-bottom:1em;

    .dialog-title {grid-column:1; margin:0;}
    .dialog-close {
        @extend %reset-button;
        grid-column:2; font-size:1.5em; align-self:center; width:1em; height:1em;
        cursor:pointer; border-radius:3px; transition:background 0.3s;

        &:hover {background:#f0f0f0;}
        &:active, &:focus {background:#e0e0e0; outline:none}
    }
}
.dialog-buttons {
    margin-top:16px; display:grid; grid-auto-columns:1fr; gap:0 4px; grid-auto-flow:column;
    margin-bottom:-4px;

    button {
        @extend %reset-button;
        background:#e0e0e0; padding:6px 12px; font-weight:500; font-size:0.9em;
        text-align:center; border-radius:3px; cursor:pointer;
        transition:background 0.3s, box-shadow 0.3s;

        &:hover {background:#eaeaea;}
        &:active {background:#d8d8d8;}
        &:focus {outline:none; box-shadow: 0 0 1px 1px #1976d2;}

        &.primary {
            background:#1976d2; color:#fff;

            &:hover {background:#1e88e5;}
            &:active {background:#1565c0;}
        }
    }
}