.list-view {list-style:none; margin:0; padding:0; overflow-y:auto;}
.list-view-item {
    &:first-child button {border-top:1px solid #ccc;}

    button {
        @extend %reset-button;
        transition:background 0.3s; border-bottom:1px solid #ccc;

        &:hover, &:focus {background:#f0f0f0; outline:none;}
        &:hover:focus {background:#e0e0e0;}
        &:active, &:active:focus, &.selected:focus {background:#bbdefb;}
        &.selected {background:#e3f2fd;}
    }
}