.menu-strip {
    display:grid; grid-template-columns:auto 1fr auto;
    background:#f8f8f8; color:rgba(0,0,0,0.8);

    .main {grid-column:1;}
    .secondary {grid-column:3;}
}

.menu-strip ul {
    list-style:none; margin:0; padding:0;

    > li {
        display:inline-block;

        &.menu-strip-button button{
            @extend %reset-button;
            padding:8px 12px 6px 12px; cursor:pointer; transition:background 0.3s;
            font-size:0.9em;

            .icon {font-size:1.2em; vertical-align:top; pointer-events:none;}
            .command-icon {margin:-0.1em 4px 0 -4px;}
            .dropdown-icon {margin:-0.1em -4px 0 4px;}

            &:hover {background:#eaeaea;}
            &:active {background:#e0e0e0;}

            &:disabled {
                color:rgba(0,0,0,0.3); cursor:default;

                &:hover, &:active {background:unset;}
                &:focus {outline:none;}
            }
        }

        &.separator {border:none; border-left:1px solid #ccc; margin:-5px 4px; height:20px;}
    }
}

.menu-strip-button.submenu {
    .menu {
        position:absolute; background:#f8f8f8; border:1px solid #ccc;
        box-shadow:0 0 4px rgba(0,0,0,0.4);

        li {
            display:block;

            &.separator {border:none; border-bottom:1px solid #ccc; margin:2px 8px; height:0;}
        }

        &.hidden {display:none;}
    }
}