body {
    background:#f8f8f8; color:rgba(0,0,0,0.87); margin:0; font-size:16px;
    font-family:sans-serif;
}

%reset-button {
    font:inherit; text-align:inherit; border:none; background:transparent; appearance:none;
    border-radius:0; margin:0; padding:0; width:100%;
}

@import "common_controls/list_view";