body {
    background:#f8f8f8; color:rgba(0,0,0,0.87); margin:0; font-size:16px;
    font-family:sans-serif;
}

%reset-button {
    font:inherit; text-align:inherit; border:none; background:transparent; appearance:none;
    border-radius:0; margin:0; padding:0; width:100%;
}
.list-view {list-style:none; margin:0; padding:0;}
.list-view-item {
    &:first-child button {border-top:1px solid #ccc;}

    button {
        @extend %reset-button;
        transition:background 0.3s; border-bottom:1px solid #ccc;

        &:hover, &:focus {background:#f0f0f0; outline:none;}
        &:hover:focus {background:#e0e0e0;}
        &:active, &:active:focus, &.selected:focus {background:#bbdefb;}
        &.selected {background:#e3f2fd;}
    }
}