.transactions-header {
    display: grid; grid-template-rows:auto auto; grid-template-areas:'name' 'menu';
}

.pane-heading-wrapper {
    display: grid; grid-template-columns:auto 1fr auto; grid-template-areas:'name . balance';
    align-items:center;

    .pane-heading {grid-area:name; overflow:hidden; white-space:nowrap; text-overflow:ellipsis;}
    .balance {grid-area:balance; font-size:1.5em; margin-right:16px;}
    .balance.negative {color:#b71c1c}
}