.wallet-list-item {
    button {
        display:grid; grid-template-columns:1fr auto;
        grid-template-rows:1fr auto; grid-template-areas:'name balance' 'subtitle balance';
        align-items:center; padding:8px 8px; height:56px; gap:0px 8px; cursor:pointer;
        

        .name, .subtitle {overflow:hidden; text-overflow:ellipsis; white-space:nowrap;}
        .name {grid-area:name; font-weight:700;}
        .subtitle {grid-area:subtitle; color:rgba(0,0,0,0.6); font-size:0.85em; margin-top:4px;}
        .balance {grid-area:balance; font-size:1.25em;}
        .balance.negative {color:#b71c1c}
    }
}